body
{
    margin:0;
    padding: 0;
    background-image: url(zdjecia/tyl.jpg);
    background-position:center;
    background-size: cover;
    font-family: Arial;
}

#gora
{
    width:100%;
    height: 25%;
    background-image: url(zdjecia/tlo.jpg);
    background-position:center;
    background-size: cover;
}

#linki
{
    padding-top:2%;
    width:100%;
    height: 10%;
    text-align: center;
      background-color:#222;
}

#glowny
{
    text-align: center;
    color:white;
    padding:4%;
    width:72%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #111;
    min-height: 500px;
}
#stopka
{
    font-size:80%;
    padding:2%;
    color:white;
    width:96%;
    height: 6%;
    background-color: #222;
}

a 
{
   
    text-decoration: none;
    color:white;
    margin-right: 5%;
    transition:1s;
}

a:hover
{
    color:cyan;
}

#liczba
{
    width:10%;
    height: 10%;
    text-align: center;
}