a
{
    text-decoration: none;
    color:white;
}
body
{
    background-image: url("tlo.jpg");
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
    color:white;
    
}

#logo
{
    padding-left: 50px;
    padding-top:25px;
}

#kontener
{
    width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

td
{
font-size:20px; 
border-radius:50px;
cursor:pointer;
width: 200px;
text-align: center;
height: 50px;
transition: 1s;
border: solid 2px white;
animation:hey 3s infinite;
text-shadow: 1px 1px 2px maroon;
}

@keyframes hey {
  0%   {border: solid 2px darkred;}
  50%  {border: solid 2px black;}
  100% {border: solid 2px darkred;}
}
td:hover
{
    border: solid 2px black;
    background-color:Maroon
;
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em green;
}

#totoloto
{
    animation:kra 3s;
    margin-top:100px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size:20px;
}
#gra
{
    font-size:20px;
    margin-top:100px;
    text-align: center;
    animation:kra 3s;
}

@keyframes kra
{
    0%{opacity:0}
    100%{opacity:1}
}


#menu 
{
    padding-left:50px;
    margin-top:30px;
}

#przycisk
{
    cursor:pointer;
    margin-top:50px;
    background-color: darkred;
    color:white;
    width:200px;
    height: 30px;
    border:1px solid black;
    border-radius: 20px;
    transition:1s;
}

#przycisk:hover
{
    width:300px;
}

.pole
{
    width:50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color:crimson;
    border:black solid 1px;
    font-size:20px;
    
}


