.kartaA
{
    width:220px;
    height: 220px;
    background-image: url(card.webp);
    float:left;
    border-radius:20px;
    margin-left:2.5%;
    margin-bottom: 2%;
    transition:1s;
    opacity:1;
    cursor:default;
}


.karta
{
    width:220px;
    height: 220px;
    background-image: url(card.webp);
    float:left;
    border-radius:20px;
    margin-left:2.5%;
    margin-bottom: 2%;
    transition:1s;
    opacity:0.7;
    cursor:pointer;
}

#karta4, #karta8
{
    clear:both;
}
#memories
{
    animation: hmm 3s;
    text-align: center;
    margin-top:50px;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

@keyframes hmm
{
    0%{ opacity:0}
    100%{opacity:1}
}

.karta:hover
{

    opacity:1;
}


