

#fotki
{
	border-radius:5px;

	margin-top:150px;

	float:right;
	width:500px;

}

#kontent
{
	text-align: justify;
	padding:25px;
	float:left;
	width:500px;

	margin-bottom:100px;
	margin-top:20px;
	margin-right:25px;
	border-radius:5px;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
}

