html.sr .load-hidden {
    visibility: hidden;
}
#opisy{
	margin-top:100px;
	clear:both;	
	width:100%;
	margin-bottom:100px;
}
.container {
	top:50px;
	float:left;
	margin-left:90px;
  position: relative;
  width: 250px;
  margin-bottom:100px;
}

.image {
  display: block;
  width: 250px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #06b559;
  border-radius:5px;
  cursor:pointer;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#napis
{
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	clear:both;
	margin-top:150px;
	width:100%;
	text-align:center;
	}