.linki{
text-decoration:none;
color:black;
}
.linki:hover{
	text-decoration: underline; 
}
.fotki{
	
	transition-duration: 1s;
}
.fotki:hover
{
	 transform: rotate(-2deg);
	opacity:0.6;
}
h1{
	font-size:60px;
	color:#06b559;
	text-align:center;
}
h2
{
	color:#06b559;
	font-size:35px;
}
.img{
	margin-top:-40px;
	margin-left:20px;
}
a{
text-decoration:none;
color:white;
}
body
{
	  background-image: url("tlo.jpg");
	
}
#wszystko
{
	padding-top:40px;
	width:1100px; margin:0 auto
}
#logo
{ 
	border-radius:4px;
	height:75px;
	width:100%;
margin-top:0px;
background-color:#d3d3d3;
float:left;
}
#menu
{transition-duration: 1s; 
border-radius:4px;
 float:right;
	width: 200px;
	height: 75px;
	transform: skewX( -20deg );
	background-color: #06b559;
	margin-top: 0px;
	margin-right:20px;
	line-height:75px;
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	font-size:20px;
	text-transform:rotate(90deg);
	cursor:pointer;
	
	}

#menu:hover
{
	background-color: #0b9b53;
	color:#d3d3d3;
}

#slajdy
{
	border-radius:5px;

	margin-top:75px;

	float:right;
	width:500px;
	height:500px;
}

img
{
  border-radius: 8px;
}
#content
{
	text-align: justify;
	padding:25px;
	float:left;
	width:500px;
	height:500px;
	margin-bottom:100px;
	margin-top:20px;
	margin-right:25px;
	border-radius:5px;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
}
#ciekawostki
{
	
	margin-bottom:75px;
	font-family: 'Montserrat', sans-serif;
	clear:both;
 text-align:center;	
}
#artykuly
{
	
	float:left;
	font-family: 'Montserrat', sans-serif;
	margin-right:75px;
	margin-left:135px;
 text-align:center;	
 margin-bottom:50px;
}

#stopka
{
	font-family: 'Montserrat', sans-serif;
	clear:both;
	margin-top:50px;
	width:100%;
	text-align:right;
}
#kontakt
{
	
	font-family: 'Montserrat', sans-serif;
	clear:both;
	margin-top:50px;
	width:100%;
	text-align:center;
}


