body
{
    background-color: white;
    margin: 0;
    padding: 0;
      font-family: 'Roboto', sans-serif;
    
}
#gora
{
    background-image: url(back.jpg);
    text-align: center;
    height:300px;
    width: 100%;
     background-position:center;
    background-size: cover;
    transition: 2s; 
}

#menu
{
    width:100%;
    height: 100px;
    background-color:white;
    text-align: center;
    }

#logo
{
    transition:1s;
    animation: mymove 5s;
}
#logo:hover
{
    width:380px;
}

@keyframes mymove
{
    from{opacity:0}
    to{opacity:1}
}
@keyframes wysokosc
{
    from{height:60px; opacity:0;}
    to{height:100px; opacity:1;}
}


td{
     text-align: center;
    width:100px;
    height: 100px;
    transition: 2s;
    animation: wysokosc 3s;
}

td:hover
{
    text-shadow: 0 0 0.2em plum, 0 0 0.2em plum;
    font-size:20px;
   
}

table
{
    
    margin-left:auto;
    margin-right: auto;
}
a
{
   
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#tekst
{
    padding-bottom: 50px;
    width: 100%;
    min-height: 100%;

    text-align: center;
}

#tekst1{
    padding-top: 50px;
width:100%;
height:50%;
text-align: center;
    line-height: 30px;
    animation: wbijamy 4s;
    font-weight: 500;
    }

@keyframes wbijamy
{
    from{margin-left: -200px; opacity: 0;}
    to{margin-left: 0px;;opacity 1;}
}


#zdjecia
{
    
    border-radius: 10px;
    margin-top:50px;
    max-width:100%;
    max-height: 50%;
    margin-bottom:50px;
    animation: mymove 3s;
}

#papier
{
    border-radius: 10px;
    margin-left:10px;
    margin-right: 10px;
    cursor:pointer;
    width:200px;
    max-height: 30%;
    max-width: 20%;
    transition: 2s;
    margin-top:10px;
    margin-bottom: 10px;
    animation: mymove 2s;
}

#papier:hover
{
    opacity:0.5;
    
}

#papier1
{
    transition: 2s;
    max-width: 100%;
    max-height: 100%;
    
}
#papier1:hover
{
    opacity:0.7;
}

#photo
{
    animation: mymove 2s;
    max-height: 100%;
    max-width: 100%;
}