html
{
    background:linear-gradient(#40513B,#273124) no-repeat fixed center;
    width: 100%;
    height: 100%;
    color:#EDF1D6;
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.menu_container
{
    transition:1s;
    animation:opacitychange 2s;
    width:70%;
    height: 100px;
    margin-top: -25px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    
}

.logo_container
{
    transition:1s;
    float:left;
    width:40%;
    font-size:50px;
    margin-top:3.5%;
}

.choose_container
{
    
    transition:1s;
    width:50%;
    float:right;
    margin-top:3%;
}

.menu_choose
{
    margin-right:5%;
    font-size:25px;
    cursor:pointer;
    padding:2px;
    transition:0.5s;
    float:left;
    height: 60px;
    padding-top:20px;
    width:100px;
    border-radius:3%;
    text-align: center;
    color:#EDF1D6;
    text-decoration: none;
    
    
}

.menu_logo
{
    text-decoration: none;
    color:#EDF1D6;
}
.menu_choose:hover
{
    color:#9DC08B;
}

.menu_active
{
    color:#9DC08B;
}



.main_container
{transition:1s;
margin-left:auto;
margin-right:auto;
margin-top:3%;
width:80%;
height: 650px;



}

.login_container
{transition:1s;
margin-left:auto;
margin-right:auto;
margin-top:3%;
width:80%;
height: 650px;
}

.photo1
{
    transition:1s;
    margin:1%;
    float:left;   
    width:25%;
    height: 50%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://i.ebayimg.com/images/g/jBUAAOSw4Rdj3BK7/s-l1200.png);
    background-position: center center;
    border-radius:1%;
    animation: slidein 1s;
}


.photo2
{
    transition:1s;
    margin:1%;
    float:left;
    width:23%;
    height: 60%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://m.media-amazon.com/images/I/618-nxYP6vL._AC_UF894,1000_QL80_.jpg);
    background-position: center center;
    border-radius:1%;
    animation: slidein 2s;
}

.photo3
{
    transition:1s;
    margin:1%;
    float:left;
    width:45%;
    height: 40%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://images-cdn.ubuy.co.id/633ff6b6d8e912060613f5ca-yasheng-art-landscape-oil-painting-on.jpg);
    background-position: center center;
    border-radius:1%;
    animation: slidein 1.5s;
}



.photo4
{
    transition:1s;
    clear:both;
    margin:1%;
    float:left;
    width:25%;
    height: 40%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://www.invaluable.com/blog/wp-content/uploads/sites/77/2021/01/Monet-Impression-Sunrise-1.jpg);
    background-position: center center;
    margin-top:-4%;
    border-radius:1%;
    animation: slidein 2.5s;
}

.photo5
{
    transition:1s;
    margin:1%;
    float:left;
    width:23%;
    height: 30%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://images.pexels.com/photos/1573434/pexels-photo-1573434.jpeg?_gl=1*937776*_ga*MTUwNTA4NjIyNy4xNzYyODg2NjQ3*_ga_8JE65Q40S6*czE3NjI4ODY2NDYkbzEkZzEkdDE3NjI4ODY2NjgkajM4JGwwJGgw);
    background-position: center center;
    margin-top:0.2%;
    border-radius:1%;
    animation: slidein 1.8s;
}

.photo6
{
    transition:1s;
    margin:1%;
    float:left;
    width:45%;
    height: 50%;
    background-repeat:no-repeat;
    background-size: 100%,100%;
    background-image:url(https://cdn.shopify.com/s/files/1/0792/3797/2298/files/Wheatfield_with_Cypresses_by_Van_Goh_480x480.jpg?v=1701727514);
    background-position: center center;
    margin-top:-8.3%;
    border-radius:1%;
    animation: slidein 2.8s;
}

.bottom_container
{
    height: 78px;
    clear:both;
    width:100%;
    text-align: center;
    margin-top:2%;
    animation: opacitychange 2.5s;
}

@keyframes slideoff {
    0%{transform:scale(100%)}
    20%{transform:scale(100%)}
    100%{transform:scale(0%)}
    
    }

    
      
@keyframes slidein {
0%{transform:scale(0)}
20%{transform:scale(0)}
100%{transform:scale(100%)}

}

@keyframes opacitychange {
0%{opacity:0;}
50%{opacity:0;}
100%{opacity:1; }

}

@media screen and (max-width: 1553px){


.menu_container{margin-top:25px;}
.main_container{margin-top:-20px;}
.logo_container{display: flex;justify-content: center;align-items: center;height: 10%;width: 100%; margin-top:5%;}

#sign_button{float:right;}

.photo1,.photo2,.photo3,.photo4,.photo5,.photo6
{
    clear:none;
    width:40%;
    height: 40%;
    margin:5%;
}

.photo:nth-child(2n+1) {
    clear: both;
  }

.choose_container {display: flex;justify-content: center;align-items: center;height: 20%;width: 100%; margin-top:5%;}
.menu_choose {margin: 0 10px;}

}

@media screen and (max-width:770px)
{
    
.menu_choose{font-size:15px; width:100px; }
.choose_container{margin-top:10%;}
.photo:nth-child(n+1) {
    clear: both;
  }
  .photo{ margin:0; }
  .photo1,.photo2,.photo3,.photo4,.photo5,.photo6
{
    width:80%;
    height: 60%;
    margin-left:10%;
    margin-right:10%;
    margin-top:50px; 
 
}


}

@media screen and (max-width:550px)
{
.logo_container{font-size:30px; width:100%;}


}

@media screen and (max-width:414px)
{


}