#samochody
{
	min-height:600px;
}
#polonez
{
	width:500px;
	margin-left:270px;
	margin-top:100px;
	cursor:pointer; 
}
#tekst
{
	margin-top:50px;
	text-align:justify;
	font-size:20px;
	font-weight:bold;
	margin-left:100px;
	margin-right:100px;
	line-height:35px; /* odstęp między wierszami */
	text-align-last:center; /* ostatni wiersz jest wycentrowany */
	padding-bottom:100px;
	
}
h2
{
	font-size:35px;
	color:orangered;
}
#fiacik
{
	color:royalblue;
}
#maly
{
color:red;
}
#odjazd
{
	
}