body
{
 background-color:snow;	
 	font-family:Verdana;
}
#wszystko
{
	width:1000px;
	min-height:600px;
	margin-left:auto;
	margin-right:auto;
	
}
#gora
{

	border-radius:20px;
	width:1000px;
	min-height:300px;
	background-color:gainsboro;
	text-align:center; 
}
#samochody
{
	width:1000px;
	background-color:gainsboro;
	margin-top:50px;
	min-height:1000px;
	border-radius:30px; /*zaokragla boki*/
	
}
h1
{
	color:#cc1425;
	float:left;/*wyrównanie do lewej*/
	padding-top:100px;
	cursor:pointer; /*zmiena kursor na wskaźnik*/
	margin-left:50px;
		transition:1s; /*czas przejscia tego ponizej*/
}
h1:hover /*hover = robi się po najechaniu kursorem " */
{

	color:#ec747f;
	
}

#logo
{
	padding-top:20px;
	width:400px;
	float:right; /*wyrównanie do prawej*/
	margin-right:50px;
}
h2{
	text-align:center;
	padding-top:40px;
	color:crimson;
}
#fiat
{

	margin-left:50px;
	margin-top:50px;
	margin-bottom:50px;
	width:400px;
}
#fiat:hover
{
	opacity:0.7;
}
span
{
width:300px;
margin-top:50px;
margin-right:200px;
float:right;
font-weight:bold;
font-size:20px;
color:black;
}
a
{
	text-decoration:none;
}
h3
{
	color:crimson;
	
}
h3:hover
{
	
	opacity:0.7;
}
#stopka
{
	border-radius:20px;
	margin-top:50px;
	margin-bottom:20px;
	min-height:100px;
	width:1000px;
	background-color:gainsboro;
	text-align:center;
}
h4
{
	font-weight:bold;
	color:#cc1425;
	padding-top:40px;
}